# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache
.ruff_cache

# generated protobuf stubs (make proto / make build)
amaas/grpc/protos/
