[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "~=5.29.4"
grpcio = "~=1.71.0"

[dev-packages]
grpcio-tools = "~=1.71.0"
setuptools = "~=65.3"
pytest = "~=7.1"
twine = "~=4.0"
pipenv-setup = "~=3.2"
vistir = "==0.6.1"
pytest-mock = "~=3.11"
pytest-asyncio = "~=0.21"

[requires]
python_version = "3"
