[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "~=4.21"
grpcio = "~=1.51"

[dev-packages]
grpcio-tools = "~=1.51"
setuptools = "~=65.3"
pytest = "~=7.1"
twine = "~=4.0"
pipenv-setup = "~=3.2"
vistir = "==0.6.1"
autopep8 = "~=2.0"

[requires]
python_version = "3"
